In [40]:
import acquisition
import pandas as pd
import matplotlib as mpl
import seaborn as sns

In [3]:
acquisition.updatedata()

Downloading file...

Unzipping file...

Converting to CSV...

Deleting non-movie lines...

Title Data File: titlebasics_edit.csv
Downloading file...

Unzipping file...

Converting to CSV...

Deleting non-movie lines...

Ratings Data File: ratings_edit.csv

In [26]:
title_data = pd.read_csv("titlebasics_edit.csv")
rating_data = pd.read_csv("ratings_edit.csv")

In [41]:
# sort and drop duplicates for title data
title_data.sort_values('tconst', inplace=True)
title_data.drop_duplicates(subset='tconst', keep='last', inplace=True)

# sort and drop data for ratings data
rating_data.sort_values('tconst', inplace=True)
rating_data.drop_duplicates(subset='tconst', keep='last', inplace=True)

In [39]:
# Merge title and rating dataframes into one (inner join)
data = pd.merge(left=title_data,right=rating_data, on='tconst')
data.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894.0,NaN,45.0,Romance,5.4,81
1,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897.0,NaN,20.0,"Documentary,News,Sport",5.2,310
2,tt0000335,movie,Soldiers of the Cross,Soldiers of the Cross,0,1900.0,NaN,NaN,"Biography,Drama",6.2,39
3,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906.0,NaN,70.0,"Biography,Crime,Drama",6.1,538
4,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0,1907.0,NaN,NaN,Drama,4.8,14