In [15]:
import acquisition
import pandas as pd
import matplotlib as mpl

In [2]:
acquisition.updatedata()

Downloading file...

Unzipping file...

Converting to CSV...

Deleting non-movie lines...

Title Data File: titlebasics_edit.csv
Downloading file...

Unzipping file...

Converting to CSV...

Deleting non-movie lines...

Ratings Data File: ratings_edit.csv

In [5]:
title_data = pd.read_csv("titlebasics_edit.csv")
rating_data = pd.read_csv("ratings_edit.csv")

In [6]:
title_data.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894.0,NaN,45.0,Romance
1,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894.0,NaN,45.0,Romance
2,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897.0,NaN,20.0,"Documentary,News,Sport"
3,tt0000335,movie,Soldiers of the Cross,Soldiers of the Cross,0,1900.0,NaN,NaN,"Biography,Drama"
4,tt0000502,movie,Bohemios,Bohemios,0,1905.0,NaN,100.0,NaN

In [9]:
rating_data.head()

      tconst  averageRating  numVotes
0  tt0000009            5.4        81
1  tt0000009            5.4        81
2  tt0000147            5.2       310
3  tt0000335            6.2        39
4  tt0000574            6.1       538

In [14]:
data = pd.merge(left=title_data, right=rating_data, left_on='tconst', right_on='tconst')